* {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
}

/* 태그 부분 */
a {
  text-decoration: none;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
/* 클래스 부분 */
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  backdrop-filter: blur(12px);
}
.mobile-header a {
  color: white;
  font-weight: 600;
}
a.section {
  padding: 16px 24px;
  display: block;
}
.mobile-header .logo {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.icon-menu {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.icon-menu span {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, 0) rotate(0deg);
  transition: 0.2s ease-in-out;
}
.icon-menu span:nth-child(1) {
  top: 0px;
}
.icon-menu span:nth-child(2),
.icon-menu span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-menu span:nth-child(4) {
  bottom: 0;
}
.icon-menu.active span:nth-child(1) {
  top: 50%;
  width: 0;
  transform: translate(-50%, -50%);
}
.icon-menu.active span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon-menu.active span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.icon-menu.active span:nth-child(4) {
  bottom: 50%;
  width: 0;
  transform: translate(-50%, 50%);
}

.logo img {
  height: 24px;
}

body {
  margin: 0;
  padding: 0;
}
.menu-content {
}

.menu-content.active {
  visibility: visible;
  display: block;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__content {
  position: absolute;
  bottom: 10%;
  text-align: left;
  color: #fff;
  padding: 2rem;
}

.hero__title {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero__description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero__cta {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.hero__cta:hover {
  background-color: #0056b3;
}
.mobile-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-header li {
  font-weight: 600;
  color: white;
}
.main-section {
  padding: 60px 0;
}
.main-section.white {
  background-color: #ffffff;
}
.main-section.mainColor {
  background-color: #ff5000;
}
.main-section.service {
  background-color: #f8f9fa;
  padding: 60px 16px;
}
.footer {
  padding: 36px 16px;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #e9ecef;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.content_title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #212529;
}
.content_title-white {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
}
.content_sub {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #868e96;
}
.content_sub-white {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
.number.big {
  padding-top: 3rem;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #ff5000;
}

.slider {
  padding-top: 3rem;
}
.slick-slide {
  height: 480px;
  box-sizing: border-box;
  margin: 0 12px;
}
.slick-slide img {
  object-fit: cover;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
.service-card {
  background-color: white;
  border-radius: 8px;
  margin-top: 3rem;
  padding: 20px 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.service-card.mini {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.image-section {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.image-wrap {
  position: relative;
  max-width: 208px;
  width: 100%;
  height: 120px;
  margin: 16px 0;
}
.image-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 50%;
  color: transparent;
}
.service-card .content_title {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1rem;
}
.service-card .content_sub {
  text-align: left;
}
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background: #f8f9fa;
  font-size: 14px;
  letter-spacing: -1px;
  color: #868e96;
}
.footer-title {
  font-size: 16px;
  font-weight: 700;
  color: #495057;
}
.footer-sub {
  font-size: 14px;
  font-weight: 400;
  color: #868e96;
  line-height: 24px;
}
.footer-block {
  align-items: flex-start;
  width: 100%;
  margin: 16px 0;
  flex-direction: column;
  display: flex;
}
.footer-text-block {
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.footer-text-block a {
  padding-right: 0px;
}
.mini-card-text {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;

  margin-left: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}
.image-mini {
  align-items: center;
}
.mini-title {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #495057;
}
.mini-sub {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #868e96;
  line-height: 24px;
}
.right-icon {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  width: 24px;
}

/* 반응형 스타일 */
@media (max-width: 1280px) {
  .hero__title {
    font-size: 3.8rem;
  }

  .hero__description {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 2.7rem;
  }
  .header-container {
    padding: 16px 24px;
  }
}
